@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* index.html styling */
/* font style */

.title-text, .subtitle-text {
    font-family: "Graduate", sans-serif;
    color: #EAFDF8;
    position: center;
    font-size: 6em;
}

.header {
    font-family: "Graduate", sans-serif;
    color: #EAFDF8;
    font-size: 70px;
    padding-bottom:20%;
    padding-top:50%;
}



body {
    background: url(../images/bg_img.jpg) no-repeat center center fixed; 
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-family: "Graduate", sans-serif;
}

/* Home Menu Styling */ 

.game-menu-container {
    background-color: #6C0E23;
    border-radius: 10px;
}

.menu-item {
    background-color: #000000;
    border-color: #fff;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    color: #EAFDF8;
    padding-top: 10%;
}

.main-menu-icon {
    height: 30px;
}

/* Separated to target with JS individually */
.main-sound-icon {
    height: 30px;
}

/* Modal Stlying */

.modal-title {
 color: #6C0E23;
}


 .modal-list-items {
    
    color: #6C0E23;
}

.main-modal-list {
    list-style: none;
    font-family: "Graduate", sans-serif;
    color: #6C0E23;
}

.rules-list {
    list-style-type: none;
}

.menu-button {
    border-color: #000000;
    padding: 10px;
    margin: 5px;
}

/* Card Appearance */ 
        .stopwatch {
            background-image: url("assets/images/ stopwatch.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }


/*game styling, all 3 difficulties  */

.game-title {
    font-family: "Graduate", sans-serif;
    color: #EAFDF8;
    font-size: 70px;
    padding-top: 7.5%;
}


 .game-information {
    font-family: "Graduate", san-serif;
    color: #EAFDF8;
    font-size: 40px;
    display: flex;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}


.card {
    position: relative;
    background-color: #E2C044;
    height: 175px;
    width: 125px;
  }

  .reverse-side {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
  }
  

  .ball-picture {
      position: absolute; 
      height: 125px;
      width: 100px;
      padding-top:37.5px;
      justify-content: center;
      align-self: flex-start;
      display: flex;
  }

  .game-information-container {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 7.5px;
    justify-content: center;
    
  }