@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* font style */

.title-text, .subtitle-text {
    font-family: "Graduate", sans-serif;
    color: #EAFDF8;
    position: center;
}

.header {
    font-family: "Graduate", sans-serif;
    color: #EAFDF8;
    padding-bottom:50%;
}



body {
    background: url(../images/bg_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-family: "Graduate", sans-serif;
}

/* Home Menu Styling */ 

.game-menu-container {
    background-color: #6C0E23;
    border-radius: 10px;
}

.menu-item {
    background-color: #000000;
    border-color: #fff;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    color: #EAFDF8;
    padding-top: 10%;
}

.main-menu-icon {
    height: 30px;
}

/* Modal Stlying */

.modal-title {
 color: #6C0E23;
}


 .modal-list-items {
    
    color: #6C0E23;
}

.main-modal-list {
    list-style: none;
    font-family: "Graduate", sans-serif;
    color: #6C0E23;
}

.rules-list {
    list-style-type: none;
}

.menu-button {
    border-color: #000000;
    padding: 10px;
    margin: 5px;
}